@model WalletFillModel
@{
    ViewData["Title"] = "Fill";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Fill your online wallet</h2>
            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" class="form-horizontal" role="form" method="post">
                <fieldset>
                    <legend>Amount of money</legend>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" asp-for="Amount"></label>
                        <div class="col-sm-8">
                            <input class="form-control" asp-for="Amount" placeholder="Total lei">
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>
                    </div>
                </fieldset>
                @Html.RenderPartialAsync("CreditCardPartial")
            </form>
        </div>
    </div>
</div>