@model WalletFillModel
<fieldset>
    <legend>Payment</legend>
    <div class="form-group">
        <label class="col-sm-4 control-label" asp-for="CardOwner"></label>
        <div class="col-sm-8">
            <input class="form-control" asp-for="CardOwner" placeholder="Card Holder's Name">
            <span asp-validation-for="CardOwner" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label" asp-for="CardNumber">Card Number</label>
        <div class="col-sm-8">
            <input class="form-control" asp-for="CardNumber" placeholder="Debit/Credit Card Number">
            <span asp-validation-for="CardNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label" asp-for="CardExpiryMonth"></label>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-xs-6">
                    <select class="form-control col-sm-2" asp-for="CardExpiryMonth">
                        <option>Month</option>
                        <option value="01">Jan (01)</option>
                        <option value="02">Feb (02)</option>
                        <option value="03">Mar (03)</option>
                        <option value="04">Apr (04)</option>
                        <option value="05">May (05)</option>
                        <option value="06">June (06)</option>
                        <option value="07">July (07)</option>
                        <option value="08">Aug (08)</option>
                        <option value="09">Sep (09)</option>
                        <option value="10">Oct (10)</option>
                        <option value="11">Nov (11)</option>
                        <option value="12">Dec (12)</option>
                    </select>
                    <span asp-validation-for="CardExpiryMonth" class="text-danger"></span>
                </div>
                <div class="col-xs-6">
                    <select class="form-control" asp-for="CardExpiryYear">
                        <option value="13">2013</option>
                        <option value="14">2014</option>
                        <option value="15">2015</option>
                        <option value="16">2016</option>
                        <option value="17">2017</option>
                        <option value="18">2018</option>
                        <option value="19">2019</option>
                        <option value="20">2020</option>
                        <option value="21">2021</option>
                        <option value="22">2022</option>
                        <option value="23">2023</option>
                    </select>
                    <span asp-validation-for="CardExpiryYear" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label" asp-for="CVV"></label>
        <div class="col-sm-8">
            <input class="form-control" asp-for="CVV" placeholder="Security Code">
            <span asp-validation-for="CVV" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-9">
            <button type="submit" class="btn btn-primary">Pay Now</button>
        </div>
    </div>
</fieldset>
