@model iParking.Models.ReservationCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>ParkingReservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ParkingDate" class="control-label"></label>
                <input asp-for="ParkingDate" class="form-control" />
                <span asp-validation-for="ParkingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParkingDuration" class="control-label"></label>
                <input asp-for="ParkingDuration" class="form-control" />
                <span asp-validation-for="ParkingDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarCategory" class="control-label"></label>
                <select class="form-control" asp-for="CarCategory" asp-items="@(Model.CarCategories.Select(f=> new SelectListItem { Text = f, Value = f }))">
                    <option value="">Selectati categoria...</option>
                </select>
                <span asp-validation-for="CarCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarNumber" class="control-label"></label>
                <input asp-for="CarNumber" class="form-control" />
                <span asp-validation-for="CarNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvailableParkings" class="control-label"></label>
                <select asp-for="ParkingId" class="form-control" asp-items="@(new SelectList(Model.AvailableParkings, "Id", "ParkingName"))">
                    <option value="0">Selectati parcarea...</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Locuri libere</label>
                <select asp-for="SlotNumber" class="form-control" disabled>
                    <option value="0">Selectati loc...</option>
                </select>
            </div>
            <label id="tamount"></label>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <table id="slotstable" style="margin-bottom:30px;" cellpadding="5" border="1"></table>
    </div>
</div>

<div id="map"></div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Styles
    {
    <style>
        #map {
            height: 400px;
            width: 100%;
        }

        table, th, td {
            border: 1px solid black;
            color: white;
            text-align: center;
        }

        table{
            width: 100%;
            height: 100%;
        }
    </style>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var map;
        var directionsService;
        var currentPos;
        var directionsDisplay;

        function initMap() {
            var infoWindow = new google.maps.InfoWindow;
            directionsService = new google.maps.DirectionsService();
            directionsDisplay = new google.maps.DirectionsRenderer();

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    map = new google.maps.Map(document.getElementById('map'), {
                        center: pos,
                        zoom: 16
                    });

                    directionsDisplay.setMap(map);
                    currentPos = pos;
                    var marker = new google.maps.Marker({
                        position: pos,
                        map: map
                    });
                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
        }

        function calcRoute(start, end) {
            var request = {
                origin: start,
                destination: end,
                travelMode: 'DRIVING'
            };
            directionsService.route(request, function (result, status) {
                if (status == 'OK') {
                    directionsDisplay.setDirections(result);
                }
            });
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
            infoWindow.open(map);
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBinp-qLSF_vLY3g5JrV3Zk0C9wFLlvTlM&callback=initMap" async defer></script>
    <script type="text/javascript">
        var firstItem = $("<option/>", {
            value: 0,
            text: "Selectati loc..."
        }), aslots = $("#SlotNumber"), slotstable = $("#slotstable");

        $("#ParkingId").change(function (val) {
            $.get({
                url: 'Reservations/GetLatLong?parkingId=' + $(this).val(),
                success: function (data) {
                    calcRoute(currentPos, new google.maps.LatLng(data.latitude, data.longitude));
                }
            });

            $.get({
                url: "Reservations/CalcPrice/?parkingId=" + $(this).val() + "&hours=" + $("#ParkingDuration").val(),
                success: function (data) {
                    $("#tamount").text(data);
                }
            })

            $.get({
                url: "Reservations/GetAvailableSlots/?parkingId=" + $(this).val(),
                success: function (data) {
                    if (data.length > 0) {
                        aslots.empty();
                        aslots.append(firstItem);
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].isAvailable) {
                                aslots.append($("<option/>", {
                                    value: data[i].slotNumber,
                                    text: data[i].slotNumber
                                }));
                            }
                        }

                        var counter = 0;
                        var rows = data.length / 10;

                        var tr = $("<tr/>");

                        for (var i = 0; i < rows; i++) {
                            for (var j = 0; j < 10; j++) {
                                tr.append($("<td/>", {
                                    text: data[counter].slotNumber,
                                    css: {
                                        'background-color': data[counter].isAvailable ? "#27ae60" : "#e74c3c"
                                    }
                                }))
                                counter++;
                            }
                            slotstable.append(tr);
                            tr = $("<tr/>");
                        }
                        
                        aslots.removeAttr("disabled");
                    }
                    else {
                        aslots.empty();
                        aslots.append($("<option/>", {
                            value: 0,
                            text: "Nu sunt locuri disponibile..."
                        }))
                        aslots.attr("disabled", true);

                    }
                }
            })
        });

        $("#ParkingDuration").change(function (val) {
            $.get({
                url: "Reservations/CalcPrice/?parkingId=" + $("#ParkingId").val() + "&hours=" + $(this).val(),
                success: function (data) {
                    $("#tamount").text(data);

                }
            })
        })
    </script>
}
