@inject UserManager<ApplicationUser> _userManager
@model ParkingReservation
@{
    ViewData["Title"] = "Home Page";
    var user = await _userManager.GetUserAsync(User);
}

@section Styles {
    <style>
        td {
            padding: 5px;
        }

        #map {
            height: 400px;
            width: 100%;
        }
    </style>
}

<div class="row">
    <div class="col-md-8">
        <form asp-action="Create" asp-controller="Reservations" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ParkingDate" class="control-label"></label>
                <input asp-for="ParkingDate" class="form-control" />
                <span asp-validation-for="ParkingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParkingTime" class="control-label"></label>
                <input asp-for="ParkingTime" class="form-control" />
                <span asp-validation-for="ParkingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarNumber" class="control-label"></label>
                <input asp-for="CarNumber" class="form-control" />
                <span asp-validation-for="CarNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CarCategory" class="control-label"></label>
                <input asp-for="CarCategory" class="form-control" />
                <span asp-validation-for="CarCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Rezerva" class="btn btn-default" />
            </div>
        </form>
    </div>
    <div id="map"></div>
</div>


@section Scripts {
    <script>
        var map;
        var directionsService;
        var directionsDisplay;

        function initMap() {
            var infoWindow = new google.maps.InfoWindow;
            directionsService = new google.maps.DirectionsService();
            directionsDisplay = new google.maps.DirectionsRenderer();

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    map = new google.maps.Map(document.getElementById('map'), {
                        center: pos,
                        zoom: 16
                    });

                    directionsDisplay.setMap(map);
                    calcRoute(pos, new google.maps.LatLng(47.026256, 28.830026));
                    var marker = new google.maps.Marker({
                        position: pos,
                        map: map
                    });
                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
        }

        function calcRoute(start, end) {
            var request = {
                origin: start,
                destination: end,
                travelMode: 'DRIVING'
            };
            directionsService.route(request, function (result, status) {
                if (status == 'OK') {
                    directionsDisplay.setDirections(result);
                }
            });
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
            infoWindow.open(map);
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBinp-qLSF_vLY3g5JrV3Zk0C9wFLlvTlM&callback=initMap" async defer></script>
}